.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navigateur{
  margin-top: 25%;
  border: #282c34;
  height: 100%;
  border: 1px solid;
}

.container-fluid{
  background-color: #E7E7E7;
  border: 0,5px solid;
}

.dashboard{
  border: 1px solid;
}
.nb_h{
  margin-left: 5%;
}

.row{
  margin-bottom: 4%;
}

